
.navbar-toggler {
  background-color: rgb(253, 253, 253) !important;
}

.navbar.navbar-expand-xl.bg-dark ul.navbar-nav
{
    width: 100%;
    justify-content: space-around;
}

.navbar.navbar-expand-xl.bg-dark
{
    border-bottom: 1px dashed rgb(44, 44, 44);
}

/* .navbar.navbar-expand-xl.bg-dark ul.navbar-nav .  .bg-dark{
  background-color: #000 !important;
} */
/* .navbar.navbar-expand-xl.bg-dark ul.navbar-nav .nav-link {
    display: flex;
    align-items: center;
    gap: 0 14px;
    color: #000;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 36px 0;
} */

.navbar.navbar-expand-xl.bg-dark ul.navbar-nav .nav-link {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: rgb(253, 253, 253);
    z-index: 1;
    font-family: inherit;
    font-weight: 800;
  }
  
  .navbar.navbar-expand-xl.bg-dark ul.navbar-nav .nav-link span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 1px solid rgb(255, 255, 255);
  }
  
  .navbar.navbar-expand-xl.bg-dark ul.navbar-nav .nav-link span::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    height: 1000%;
    background: rgba(67, 67, 67, 0.378);
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
    border: 1px dashed rgb(81, 81, 81);
  }
  
  .navbar.navbar-expand-xl.bg-dark ul.navbar-nav .nav-link:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: rgb(255, 34, 34);
  }
  
  .navbar.navbar-expand-xl.bg-dark ul.navbar-nav .nav-link:hover {
    color: rgb(253, 253, 253);
  }
  
  .navbar.navbar-expand-xl.bg-dark ul.navbar-nav .nav-link:active span::before {
    background: rgb(255, 34, 34);
  }

  @media only screen and (max-width:1601px) {
  
    .navbar.navbar-expand-xl.bg-dark ul.navbar-nav .nav-link{
      padding: 0.7em 2.0em;
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width:425px) {
    .navbar-brand {
      width: 50%;
    }

    .navbar-brand img {
      width: 100%;
    }

  }